.catalog {
  background-color: $primary-color;
}

.catalog__wrapper {
  padding: 84px 15px 120px;

  @include vp-1023 {
    padding: 90px 10px 100px;
  }

  @include vp-767 {
    padding: 57px 10px 65px;
  }
}

.catalog__title {
  margin: 0;
  color: $secondary-color;
  text-align: center;
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 50px 0 0;
  margin: 0;
  justify-content: center;

  @include vp-1023 {
    padding: 49px 0 0;
  }

  @include vp-767 {
    padding: 30px 0 0;
  }
}

.catalog__list-item {
  background-color: #011c40;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 35px;
  width: 260px;
  height: 386px;
  position: relative;
  overflow: hidden;

  @include vp-1023 {
    width: 309px;
  }

  @include vp-767 {
    max-width: 288px;
  }

  &--astoria {
    background-image: url("../img/catalog/astoria.jpg");
    background-position: -23px;

    @supports (background-image: url("../img/catalog/astoria.webp")) {
      background-image: url("../img/catalog/astoria.webp");
    }

    @include vp-1023 {
      background-position: unset;
    }

    @include vp-767 {
      background-position: -19px;
    }
  }

  &--elaine {
    background-image: url("../img/catalog/elaine.jpg");

    @supports (background-image: url("../img/catalog/elaine.webp")) {
      background-image: url("../img/catalog/elaine.webp");
    }
  }

  &--atlantis {
    background-image: url("../img/catalog/atlantis.jpg");
    background-position: -24px;

    @supports (background-image: url("../img/catalog/atlantis.webp")) {
      background-image: url("../img/catalog/atlantis.webp");
    }

    @include vp-1023 {
      background-position: unset;
    }

    @include vp-767 {
      background-position: -20px;
    }
  }

  &--odysseus {
    background-image: url("../img/catalog/odysseus.jpg");
    background-position: -21px -4px;
    background-size: 290px;

    @supports (background-image: url("../img/catalog/odysseus.webp")) {
      background-image: url("../img/catalog/odysseus.webp");
    }

    @include vp-1023 {
      background-position: unset;
      background-size: cover;
    }

    @include vp-767 {
      background-image: url("../img/catalog/odysseus-mobile.jpg");

      @supports (background-image: url("../img/catalog/odysseus-mobile.webp")) {
        background-image: url("../img/catalog/odysseus-mobile.webp");
      }
    }
  }

  &--olimpia {
    background-image: url("../img/catalog/olimpia-desktop.jpg");

    @supports (background-image: url("../img/catalog/olimpia-desktop.webp")) {
      background-image: url("../img/catalog/olimpia-desktop.webp");
    }

    @include vp-1023 {
      background-image: url("../img/catalog/olimpia-tablet.jpg");

      @supports (background-image: url("../img/catalog/olimpia-tablet.webp")) {
        background-image: url("../img/catalog/olimpia-tablet.webp");
      }
    }

    @include vp-767 {
      background-image: url("../img/catalog/olimpia-mobile.jpg");

      @supports (background-image: url("../img/catalog/olimpia-mobile.webp")) {
        background-image: url("../img/catalog/olimpia-mobile.webp");
      }
    }
  }

  &--aurora {
    background-image: url("../img/catalog/aurora.jpg");
    background-position: -4px;

    @supports (background-image: url("../img/catalog/aurora.webp")) {
      background-image: url("../img/catalog/aurora.webp");
    }

    @include vp-1023 {
      background-position: unset;
    }

    @include vp-767 {
      background-position: -20px;
    }
  }

  &--leonor {
    background-image: url("../img/catalog/leonor.jpg");
    background-position: -22px;

    @supports (background-image: url("../img/catalog/leonor.webp")) {
      background-image: url("../img/catalog/leonor.webp");
    }

    @include vp-1023 {
      background-position: unset;
    }

    @include vp-767 {
      background-position: -20px;
    }
  }

  &--minion {
    background-image: url("../img/catalog/minion-desktop.jpg");

    @supports (background-image: url("../img/catalog/minion-desktop.webp")) {
      background-image: url("../img/catalog/minion-desktop.webp");
    }

    @include vp-1023 {
      background-image: url("../img/catalog/minion-tablet.jpg");

      @supports (background-image: url("../img/catalog/minion-tablet.webp")) {
        background-image: url("../img/catalog/minion-tablet.webp");
      }
    }

    @include vp-767 {
      background-image: url("../img/catalog/minion-mobile.jpg");

      @supports (background-image: url("../img/catalog/minion-mobile.webp")) {
        background-image: url("../img/catalog/minion-mobile.webp");
      }
    }
  }
}

.catalog__item-wrapper {
  position: absolute;
  top: 386px;
  left: 0;
  background-color: #011c40;
  width: 100%;
  height: 100%;
  padding: 35px 25px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include vp-1023 {
    padding: 35px 35px 34px;
  }

  @include vp-767 {
    padding: 35px 25px;
  }
}

.catalog__item-title {
  position: absolute;
  top: 337px;
  left: 30px;
  margin: 0;

  @include vp-1023 {
    top: 333px;
    left: 35px;
  }

  @include vp-767 {
    top: 343px;
    left: 25px;
  }
}

.catalog__list-item:focus .catalog__item-wrapper,
.catalog__list-item:hover .catalog__item-wrapper {
  top: 0;
  transition: ease 0.5s;
}

.catalog__list-item:focus .catalog__item-title,
.catalog__list-item:hover .catalog__item-title {
  z-index: 20;
  top: 29px;
  left: 24px;
  transition: ease 0.5s;

  @include vp-1023 {
    left: 35px;
  }

  @include vp-767 {
    left: 24px;
    top: 30px;
  }
}

.catalog__item-list {
  margin: 35px 0 0;

  dt {
    font-size: 14px;
    line-height: 140%;
    margin-bottom: 1px;
  }

  dd {
    font-size: 14px;
    line-height: 140%;
    margin-bottom: 12px;
    margin-left: 0;
    color: #d8d8d9;
  }
}
