.main-screen {
  background-image: url("../img/background-main-desktop@1x.webp");
  background-color: #007aff;
  background-repeat: no-repeat;
  background-size: cover;

  //@supports (background-image: url("../img/background-main-desktop@1x.webp")) {
  //  background-image: url("../img/background-main-desktop@1x.webp");
  //}

  @media (min-resolution: 2dppx) {
    background-image: url("../img/background-main-desktop@2x.webp");

    //@supports (background-image: url("../img/background-main-desktop@2x.webp")) {
    //  background-image: url("../img/background-main-desktop@2x.webp");
    //}
  }

  @include vp-1023 {
    background-image: url("../img/background-main-tablet@1x.webp");

    //@supports (background-image: url("../img/background-main-tablet@1x.webp")) {
    //  background-image: url("../img/background-main-tablet@1x.webp");
    //}

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background-main-tablet@2x.webp");

      //@supports (background-image: url("../img/background-main-tablet@2x.webp")) {
      //  background-image: url("../img/background-main-tablet@2x.webp");
      //}
    }
  }

  @include vp-767 {
    background-image: url("../img/background-main-mobile@1x.webp");

    //@supports (background-image: url("../img/background-main-mobile@1x.webp")) {
    //  background-image: url("../img/background-main-mobile@1x.webp");
    //}

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background-main-mobile@2x.webp");

      //@supports (background-image: url("../img/background-main-mobile@2x.webp")) {
      //  background-image: url("../img/background-main-mobile@2x.webp");
      //}
    }
  }
}

.main-screen__wrapper {
  padding: 269px 100px 283px 95px;

  @include vp-1023 {
    padding: 268px 89px 274px 0;
  }

  @include vp-767 {
    padding: 176px 25px 180px 0;
  }

  .main-screen__title {
    margin: 0 0 13px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

    @include vp-767 {
      margin-bottom: 10px;
    }
  }

  p {
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    margin: 0;

    @include vp-1023 {
      font-size: 18px;
      line-height: 22px;
    }

    @include vp-767 {
      font-size: 16px;
      line-height: 22px;
    }
  }
}
