.nav__list {
  display: flex;
  list-style-type: none;
  margin: 0 -17px 0 0;
  padding: 0;
  flex-wrap: wrap;
  justify-content: flex-end;
  max-width: 700px;


  @include vp-1023 {
    margin-right: -12px;
    max-width: 540px;
  }

  a {
    padding: 13px 17px 13px 17px;
    font-weight: 500;
    line-height: 20px;

    @include vp-1023 {
      font-size: 14px;
      line-height: 17px;
      padding: 13px 12px 13px 12px;
    }
  }
}

.nav__button {
  display: none;

  @include vp-767 {
    display: block;
    background-color: transparent;
    border: none;
    position: absolute;
    top: -8px;
    right: -10px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    padding: 10px;
  }

  &:hover::before,
  &:hover::after {
    background-color: #007aff;
    box-shadow: 0 6px 0 #007aff;
  }

  &:focus {
    outline: 2px solid #007aff;
    border-radius: 10px;
  }
}

.nav__button::before,
.nav__button::after {
  content: "";

  position: absolute;
  top: 18px;
  left: 7px;
  width: 24px;
  height: 2px;
  background-color: $primary-color;

  box-shadow: 0 6px 0 $primary-color;
}

.nav__button::after {
  top: 12px;
}

.is-open .nav__button {
  z-index: 10;
  top: -21px;
  right: -15px;

  &:hover::before,
  &:hover::after {
    background-color: #007aff;
  }
}

.is-open .nav__button::before,
.is-open .nav__button::after {
  background-color: $secondary-color;
  transform: rotate(45deg);
  box-shadow: unset;
  width: 18px;
  top: 50%;
  left: calc(50% - 8px);
}

.is-open .nav__button::after {
  transform: rotate(-45deg);
}
